body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

h1 {
    font-size: 3vw !important;
    text-align: center;
    text-transform: uppercase;
    margin: 4vh !important;
}

h2 {
    margin-bottom: 5px;
}

.btext {
    font-size: 2vw;
}

/* Website Header */
.navbar {
    background-color: rgb(254, 236, 229);
    border-bottom: 2px solid rgb(14, 71, 150);
}

.navbar-brand {
    font-size: 2vw !important;
}

.nav-link {
    font-size: 2vw !important;
}

.nav-item .active {
    font-weight: bold;
}

.navbar-toggler {
    margin-right: 20px;
}

#logo {
    height: 40px;
    width: auto;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.social {
    height: 30px;
    width: 30px;
    z-index: 999;
    margin-right: 20px;
}

/* About Me */
#container {
    background-color: lightskyblue;
    height: auto;
    border: 10px double rgb(14, 71, 150);
    padding: 3vw;
}

.circle {
    width: 23vw;
    height: 23vw;
    min-width: 280px;
    min-height: 280px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto !important;
}

#profile {
    width: 23vw;
    min-width: 300px;
}

.textA {
    line-height: 1.5cm;
}

/* Resume Section */
.sectionC {
    width: 100%;
    margin-bottom: 1%;
    background-color: lightsalmon;
    border: 10px double rgb(14, 71, 150);
    height: auto;
}

.content {
    padding: 5%;
}

#resume h2 {
    font-size: 3vw !important;
}

.textR {
    line-height: 1.5cm;
    margin-bottom: 0%;
    margin-top: 0%;
}

.titleR {
    margin: 0;
    margin-bottom: 2%;
    margin-top: 5%;
}

.titleRO {
    margin-top: 5%;
}

.courses ul {
    columns: 2;
    column-gap: 0px;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.courses li {
    margin-left: 15%;
    margin-right: 5%;
}

#resume a {
    color: black;
}

.exp {
    margin-bottom: 8%;
}

.skills ul {
    padding: 10px;
    columns: 2;
    column-gap: 0px;
    -webkit-columns: 2;
    -moz-columns: 2;
}

/* Progress Bar */
progress[value] {
    appearance: none;
    border: none;
    width: 100%;
    height: 20px;

    background-color: whiteSmoke;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5) inset;

    color: lightskyblue;
}

progress[value]::-webkit-progress-bar {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5) inset;
}

progress[value]::-webkit-progress-value {
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 10px;
}

progress[value]::-moz-progress-bar {
    background-image:
        -moz-linear-gradient(135deg,
            transparent,
            transparent 33%,
            rgba(0, 0, 0, .1) 33%,
            rgba(0, 0, 0, .1) 66%,
            transparent 66%),
        -moz-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .2)),
        -moz-linear-gradient(left, rgb(18, 35, 192), rgb(116, 227, 224));

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 3px;

}

.progress-bar {
    background-color: whiteSmoke;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5) inset;

    width: 80%;
    height: 20px;
    z-index: -1;
}

.progress-bar span {
    background-color: lightskyblue;
    border-radius: 10px;

    display: block;
    text-indent: -9999px;
}

p[data-value]:after {
    content: attr(data-value) '%';
    float: right;
    font-size: 20px;
}

.skill::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .2)),
        -webkit-linear-gradient(left, rgb(18, 35, 192), rgb(116, 227, 224));
}

.skill::-moz-progress-bar {
    background-image:
        -moz-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .2)),
        -moz-linear-gradient(left, rgb(18, 35, 192), rgb(116, 227, 224));
}

.progress-bar span {
    font-size: 2vw;
}

#skills {
    height: auto;
}

.skills li {
    list-style-type: none;
    margin-left: 5%;
    margin-right: 5%;
}

/* Projects Section */
.pCard {
    padding: 3vw;
    background-color: lightskyblue;
    border: 10px double rgb(14, 71, 150);
}

.title {
    font-size: 3vw;
    text-align: center;
    margin: 2vh;
}

.textP {
    width: 95%;
    margin: auto;
    padding-bottom: 3vw;
}

#pDes {
    background-color: white;
    border-radius: 10vw;
    width: 65%;
    padding: 2vw;
}

#pdf,
#video,
#construct,
#img{
    margin: auto !important;
}

#img {
    width: 27vw;
}

.pcontent {
    height: 35vw;
    width: 30vw;
}

.vcontent {
    height: auto !important;
    width: 100% !important;
}

#construct {
    width: 32vw;
    height: 35vw;
}

/* Gallery Section */
#gallery {
    width: 100%;
    background-color: lightsalmon;
    border: 10px double rgb(14, 71, 150);
    position: relative;
    z-index: 0;
}

#gallery img {
    height: 85vh;
    object-fit: cover;
    max-width: 100%;
    padding: 3vw;
    margin: auto;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: white !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 4vw !important;
    height: 4vw !important;
    background-color: black;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Form Section */
.form {
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#contactC {
    margin-bottom: 1%;
    background-color: lightskyblue;
    border: 10px double rgb(14, 71, 150);
}

.name,
.email {
    width: 100%;
    margin-bottom: 15px !important;
}

.field {
    margin: 0;
    padding: 0;
    height: 45px;
    margin-bottom: 15px;
}

.textarea {
    height: 100px;
}

.field input,
.textarea textarea {
    width: 100%;
    height: 100%;
    border: 3px solid rgb(18, 35, 192);
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    font-size: 17px;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 3px;
    font-size: 20px;
    width: 100%;
    border-top: 2px solid rgb(18, 35, 192);
    background-color: rgb(254, 236, 229);
}

footer a {
    color: black;
}

#backtop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    font-size: 6vh;
    color: white
}

@media screen and (max-width:1200px) {
    #pDes {
        width: 95%;
        margin: auto;
    }

    #pdf,
    #video,
    #construct,
    #img {
        padding-top: 3vw;
    }

    .pcontent {
        height: 380px;
        width: 1000px;
    }

    #construct {
        width: 100%;
        height: 50vh;
    }

    #img {
        width: 100%;
        height: 50vh;
    }
}

@media screen and (min-width:992px) and (max-width:1400px) {

    #resume h2 {
        font-size: 35px !important;
    }

    .btext {
        font-size: 25px;
    }
}

@media screen and (min-width:992px) {
    .textA {
        padding-left: 5vw !important;
    }
}

@media screen and (max-width:992px) {
    h1 {
        font-size: 4vw !important;
    }

    .navbar-brand {
        font-size: 3vw !important;
    }

    .nav-link {
        font-size: 3vw !important;
    }

    #container {
        padding: 4vw;
    }

    .textA {
        padding-top: 5vh !important;
    }

    .nav-item {
        margin-left: 5vw;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {

    #resume h2 {
        font-size: 4vw !important;
    }

    .btext {
        font-size: 3vw;
    }

    .title {
        font-size: 4vw;
    }

    .progress-bar span {
        font-size: 3vw;
    }
}


@media screen and (max-width:768px) {
    h1 {
        font-size: 5vw !important;
    }

    #resume h2 {
        font-size: 5vw !important;
    }

    .navbar-brand {
        font-size: 4vw !important;
    }

    .nav-link {
        font-size: 2vw !important;
    }

    .title {
        font-size: 5vw;
    }

    .btext {
        font-size: 4vw;
    }

    .textA {
        font-size: 4vw;
    }

    .skillT {
        font-size: 3.5vw;
    }

    .progress-bar span {
        font-size: 3.5vw;
    }
}

@media screen and (max-width:668px) {
    .courses ul {
        columns: 1;
        column-gap: 0px;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .skills ul {
        columns: 1;
        column-gap: 0px;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}

@media screen and (max-width:520px) {
    .navbar-toggler {
        margin-left: 5vw;
    }

    #icons {
        margin-left: 5vw;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 30px !important;
        height: 30px !important;
    }
}